.custom-textarea textarea {
  /* width: 100%; Tăng chiều rộng */
  height: 200px; /* Tăng chiều cao */
  /* font-size: 16px; Tăng kích thước chữ nếu cần */
  /* padding: 10px; Điều chỉnh khoảng cách trong */
}
.news-article-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  font-size: 18px;
}
// .container {
//   display: flex;
//   justify-content: space-between; /* Căn đều các phần tử dọc theo trục ngang */
//   align-items: center; /* Căn giữa các phần tử dọc theo trục dọc */
// }
.article-category{
  font-size: 22px;
}
.article-author, .paragraph-timestamp {
  display: inline-block;
  margin-right: 10px; /* Khoảng cách giữa các thành phần */
}
.post {
  /* Thiết lập chiều rộng cho bài viết */
  width: 100%; /* Hoặc chiều rộng cụ thể nếu cần */
  position: relative; /* Để các phần tử con có thể sử dụng các thuộc tính liên quan đến vị trí */
}

.post img {
  /* Thiết lập chiều rộng của hình ảnh là một nửa chiều rộng của bài viết */
  width: 80%; /* Chiều rộng của hình ảnh bằng một nửa chiều rộng của bài viết */
  display: block; /* Đảm bảo hình ảnh không bị lộn xộn với văn bản */
  max-width: 100%; /* Đảm bảo hình ảnh không vượt quá chiều rộng của phần tử chứa */
  height: auto; /* Giữ tỷ lệ khung hình của hình ảnh */
  margin: 0 auto;
}
.image-caption {
  margin-top: 10px; /* Khoảng cách giữa hình ảnh và tên hình ảnh */
  font-size: 20px; /* Kích thước chữ cho tên hình ảnh */
  color: #666; /* Màu sắc chữ */
  text-align: center;
  font-style: italic;
}
.article-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

.article-author {
  font-size: 0.7em;
  color: #555;
  margin-bottom: 10px;
}
.article-author-footer {
  font-size: 1.3em;
  // color: #555;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: right;
}

.article-controls {
  margin-bottom: 20px;
}

.profile-post-card {
  border: none;
}

.profile-post-body {
  padding: 20px;
  background: #f8f9fa;
}

.paragraph-content {
  margin-bottom: 10px;
}

.paragraph-image-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.paragraph-image {
  max-width: 100%;
  height: auto;
}

.paragraph-image-actions {
  display: flex;
  align-items: center;
}

.paragraph-timestamp {
  font-size: 0.7em;
  color: #888;
}
